<app-body [header]="false" [titulo]="idPersonal ? 'Editar Personal - ' + codigoPersonal : 'Nuevo Personal'">
    <div body [ngClass]="{ loader: loading }">
        <loader *ngIf="loading"></loader>
        <form [formGroup]="formPersonal">
            <div class="p-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombres">Nombres</label>
                            <input type="text" class="form-control" id="nombres" formControlName="nombres" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" formControlName="apellidos" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dni">DNI</label>
                            <input
                                EnteroPositivo
                                [maxNumerolength]="8"
                                (valueEntero)="formPersonal.patchValue({ dni: $event })"
                                type="text"
                                class="form-control"
                                id="dni"
                                formControlName="dni"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                            <input
                                type="date"
                                class="form-control"
                                formControlName="fecNacimiento"
                                (change)="formPersonal.controls.fecNacimiento.setValue($event.target.value)"
                                id="fecha_nacimiento"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="departamento">Departamento</label>
                            <select-default
                                [data]="departamentos"
                                [selected]="departamentoSelected"
                                (selectChange)="changeDepartamento($event)"
                            ></select-default>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <select-default
                                [data]="provincias"
                                [selected]="selectedProvincia"
                                (selectChange)="changeProvincia($event)"
                            ></select-default>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="distrito">Distrito</label>
                            <select-default
                                [data]="distritos"
                                [selected]="selectedDistrito"
                                (selectChange)="changeDistrito($event)"
                            ></select-default>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="text" class="form-control" id="direccion" formControlName="direccion" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="genero">Género</label>
                            <select-default
                                [data]="generos"
                                [selected]="generoSelected"
                                (selectChange)="formPersonal.patchValue({ idGenero: $event.id })"
                            ></select-default>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="estado_civil">Estado Civil</label>
                            <select-default
                                [data]="estadosCiviles"
                                [selected]="estadoSelected"
                                (selectChange)="formPersonal.patchValue({ idEstadoCivil: $event.id })"
                            ></select-default>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefono">Teléfono</label>
                            <input
                                type="text"
                                class="form-control"
                                id="telefono"
                                EnteroPositivo
                                [maxNumerolength]="9"
                                (valueEntero)="formPersonal.patchValue({ telefono: $event })"
                                formControlName="telefono"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_ingreso">Fecha de Ingreso</label>
                            <input
                                type="date"
                                class="form-control"
                                formControlName="fecIngreso"
                                (change)="formPersonal.controls.fecIngreso.setValue($event.target.value)"
                                id="fecha_ingreso"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <select-default
                                [data]="tipoPerfiles"
                                [selected]="tipoSelected"
                                (selectChange)="formPersonal.patchValue({ idTipoPersonal: $event.id })"
                            ></select-default>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group align-items-start">
                            <label for="codigo">Sucursales</label>
                            <app-check-multiple
                                *ngIf="!loading"
                                [data]="sucursales"
                                [activos]="activos"
                                (changeData)="changeData($event)"
                            ></app-check-multiple>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="p-3 text-right">
            <button class="btn btn-secondary mr-3" type="button" (click)="atras()">Cancelar</button>
            <button class="btn btn-primary" type="submit" (click)="guardarPersonal()" [disabled]="formPersonal.invalid">
                <span>Guardar</span>
            </button>
        </div>
    </div>
</app-body>
