<app-body [header]="true" [titulo]="'Nuevo Registro'" [body]="false" [bodyCard]="true">
    <div body-card>
        <!-- <div class="row" [formGroup]="formRegistro"> -->
        <div class="row" [formGroup]="formRegistro">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Remitente - {{ nombreSucursal }}</b>
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dni" class="required">DNI</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="dni"
                                        EnteroPositivo
                                        [maxNumerolength]="8"
                                        (valueEntero)="formRegistro.patchValue({ dni: $event })"
                                        formControlName="dni"
                                    />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="form-group text-right">
                                    <label></label>
                                    <button class="btn btn-primary" type="button" (click)="verificarDni()">
                                        <span>Validar</span>
                                    </button>
                                </div> -->
                                <button
                                    class="btn btn-primary"
                                    type="button"
                                    [disabled]="formRegistro.value.dni.length < 8"
                                    (click)="verificarDni()"
                                >
                                    <span>Validar</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombres" class="required">Nombres</label>
                                    <input type="text" class="form-control" id="nombres" formControlName="nombres" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="apellidos" class="required">Apellidos</label>
                                    <input type="text" class="form-control" id="apellidos" formControlName="apellidos" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control" id="direccion" formControlName="direccion" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Destinatario</b></h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dniDestinatario" class="required">DNI</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="dniDestinatario"
                                        formControlName="dniDestinatario"
                                        EnteroPositivo
                                        [maxNumerolength]="8"
                                        (valueEntero)="formRegistro.patchValue({ dniDestinatario: $event })"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sucursal" class="required">Sucursal</label>
                                    <select-default
                                        [data]="sucursales"
                                        [selected]="sucursalSelected"
                                        (selectChange)="changeSucursal($event)"
                                    ></select-default>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombreDestinatario" class="required">Nombres</label>
                                    <input type="text" class="form-control" id="nombreDestinatario" formControlName="nombreDestinatario" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="apellidoDestinatario" class="required">Apellidos</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="apellidoDestinatario"
                                        formControlName="apellidoDestinatario"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefonoDestinatario" class="required">Teléfono</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="telefonoDestinatario"
                                        EnteroPositivo
                                        [maxNumerolength]="9"
                                        (valueEntero)="formRegistro.patchValue({ telefonoDestinatario: $event })"
                                        formControlName="telefonoDestinatario"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipoEntrega">Entrega</label>
                                    <label>
                                        <input type="checkbox" (change)="changeTipoEntrega($event)" />
                                        Despacho a Domicilio
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="domicilio">
                                <div class="form-group">
                                    <label for="distrito" class="required">Distrito</label>
                                    <select-default
                                        [data]="distritos"
                                        [selected]="distritoSelected"
                                        (selectChange)="changeDistrito($event)"
                                    ></select-default>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="domicilio">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="direccionDestino" class="required">Dirección</label>
                                    <input type="text" class="form-control" id="direccionDestino" formControlName="direccionDestino" />
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="domicilio">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="referenciaDestino" class="required">Referencia</label>
                                    <input type="text" class="form-control" id="referenciaDestino" formControlName="referenciaDestino" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Paquete</b></h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cantidadPaquetes" class="required">Cantidad de Piezas</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="cantidadPaquetes"
                                        EnteroPositivo
                                        [maxNumerolength]="5"
                                        (valueEntero)="formRegistro.patchValue({ cantidadPaquetes: $event })"
                                        formControlName="cantidadPaquetes"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pesoTotal" class="required">Peso Total (Kg)</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="pesoTotal"
                                        EnteroPositivo
                                        [separador]="true"
                                        (valueEntero)="formRegistro.patchValue({ pesoTotal: $event })"
                                        formControlName="pesoTotal"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipoPaquete" class="required">Tipo de Paquete</label>
                                    <select-default
                                        [data]="tipoPaquetes"
                                        [selected]="tipoPaqueteSelected"
                                        (selectChange)="formRegistro.patchValue({ idTipoPaquete: $event.id })"
                                    ></select-default>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-right">
                            <button class="btn btn-secondary mr-3" type="button" (click)="atras()">Cancelar</button>
                            <button class="btn btn-primary" type="submit" [disabled]="formRegistro.invalid" (click)="guardar()">
                                <span>Guardar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-body>
