.acordion-titulo {
    margin: 0;
    cursor: pointer;
    color: inherit;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
.acordion-content {
    display: none;
    &.show {
        display: block;
        margin-bottom: 15px;
    }
}
