<!-- <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" class="form-control" id="nombres" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ruc">RUC</label>
                    <input type="text" class="form-control" id="ruc" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="contacto">Contacto</label>
                    <input type="text" class="form-control" id="contacto" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ubigeo">Ubigeo</label>
                    <select id="ubigeo" class="form-control">
                        <option selected>Seleccione</option>
                        <option>Ubigeo 1</option>
                        <option>Ubigeo 2</option>
                        <option>Ubigeo 3</option>
                        <option>Ubigeo 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rubro">Rubro</label>
                    <input type="text" class="form-control" id="rubro" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipoPago">Tipo de Pago</label>
                    <select id="tipoPago" class="form-control">
                        <option selected>Seleccione</option>
                        <option>Pago 1</option>
                        <option>Pago 2</option>
                        <option>Pago 3</option>
                        <option>Pago 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="observacion">Observación</label>
                    <textarea id="observacion" rows="4" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-body [header]="false" [titulo]="'Nuevo Cliente'">
    <div body>
        <div class="p-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ruc">RUC</label>
                        <input type="text" class="form-control" id="ruc" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="text" class="form-control" id="correo" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contacto">Contacto</label>
                        <input type="text" class="form-control" id="contacto" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ubigeo">Ubigeo</label>
                        <select id="ubigeo" class="form-control">
                            <option selected>Seleccione</option>
                            <option>Ubigeo 1</option>
                            <option>Ubigeo 2</option>
                            <option>Ubigeo 3</option>
                            <option>Ubigeo 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rubro">Rubro</label>
                        <input type="text" class="form-control" id="rubro" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tipoPago">Tipo de Pago</label>
                        <select id="tipoPago" class="form-control">
                            <option selected>Seleccione</option>
                            <option>Pago 1</option>
                            <option>Pago 2</option>
                            <option>Pago 3</option>
                            <option>Pago 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="observacion">Observación</label>
                        <textarea id="observacion" rows="4" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div footer>
        <div class="p-3 text-right">
            <button class="btn btn-secondary mr-3" type="button" (click)="atras()">Cancelar</button>
            <button class="btn btn-primary" type="submit"><span>Guardar</span></button>
        </div>
        <!-- <div class="actions text-right mt-5">
            <button class="btn btn-secondary mr-3" type="button">Cancelar</button>
            <button class="btn btn-primary" type="submit"><span class="ng-star-inserted">Guardar</span></button>
        </div> -->
    </div>
</app-body>
