<app-body [header]="true" [titulo]="'Personal'">
    <div header>
        <div class="py-3 text-right">
            <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.idPersonal"
                data-toggle="tooltip"
                data-placement="top"
                [DirectiveTooltip]
                title="Eliminar"
                (click)="delete()"
            >
                <i class="mdi mdi-delete"></i>
            </button>
            <!-- <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.idPersonal"
                data-toggle="tooltip"
                data-placement="top"
                [DirectiveTooltip]
                title="Detalle"
                (click)="detalle()"
            >
                <i class="mdi mdi-format-list-bulleted"></i>
            </button> -->
            <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.idPersonal"
                data-placement="top"
                data-toggle="tooltip"
                [DirectiveTooltip]
                title="Editar"
                (click)="editar()"
            >
                <i class="mdi mdi-pencil"></i>
            </button>
            <button class="btn btn-outline-primary ml-3" (click)="nuevo()">
                Nuevo
            </button>
        </div>
    </div>
    <div body [ngClass]="{ loader: loading }">
        <loader *ngIf="loading"></loader>
        <div class="table-responsive">
            <table class="table table-striped table-hover box-shadow">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th style="min-width: 100px;">Estado Civil</th>
                        <th>Teléfono</th>
                        <th style="min-width: 150px;">Fecha De Ingreso</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of data; let index = index"
                        (click)="selectItem = item"
                        [ngClass]="{ highlighted: selectItem.idPersonal === item.idPersonal }"
                    >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.nombres }}</td>
                        <td>{{ item.apellidos }}</td>
                        <td>{{ item.dni }}</td>
                        <td>{{ item.estadoCivil }}</td>
                        <td>{{ item.telefono }}</td>
                        <td>{{ item.fecIngreso }}</td>
                        <td>{{ item.tipoPersonal }}</td>
                    </tr>
                    <tr class="text-center" *ngIf="!data || (data && data.length === 0)">
                        <td colspan="19">
                            No hay información disponible
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-body>
