<app-body [header]="true" [titulo]="'Personal'">
    <div header>
        <div class="py-3 text-right">
            <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.IdPersonal"
                data-toggle="tooltip"
                data-placement="top"
                [DirectiveTooltip]
                title="Detalle"
                (click)="detalle()"
            >
                <i class="mdi mdi-format-list-bulleted"></i>
            </button>
            <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.IdPersonal"
                data-placement="top"
                data-toggle="tooltip"
                [DirectiveTooltip]
                title="Editar"
                (click)="editar()"
            >
                <i class="mdi mdi-pencil"></i>
            </button>
            <button class="btn btn-outline-primary ml-3" (click)="nuevo()">
                Nuevo
            </button>
        </div>
    </div>
    <div body [ngClass]="{ loader: loading }">
        <loader *ngIf="loading"></loader>
        <div class="table-responsive">
            <table class="table table-striped table-hover box-shadow">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Ubigeo</th>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Fecha De Nacimiento</th>
                        <th>Dirección</th>
                        <th>Género</th>
                        <th>Estado Civil</th>
                        <th>Teléfono</th>
                        <th>Fecha De Ingreso</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of data; let index = index"
                        (click)="selectItem = item"
                        [ngClass]="{ highlighted: selectItem.IdPersonal === item.IdPersonal }"
                    >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.ubigeo }}</td>
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.Nombres }}</td>
                        <td>{{ item.Apellidos }}</td>
                        <td>{{ item.DNI }}</td>
                        <td>{{ item.fecha_nacimiento }}</td>
                        <td>{{ item.Direccion }}</td>
                        <td>{{ item.genero }}</td>
                        <td>{{ item.estado_civil }}</td>
                        <td>{{ item.Telefono }}</td>
                        <td>{{ item.fecha_ingreso }}</td>
                        <td>{{ item.tipo }}</td>
                        <td>{{ item.estado ? 'Activo' : 'Inactivo' }}</td>
                    </tr>
                    <tr class="text-center" *ngIf="!data || (data && data.length === 0)">
                        <td colspan="14">
                            No hay información disponible
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-body>
