<app-body [header]="false" [titulo]="'Detalle Servicio'">
    <div body>
        <accordion>
            <acordion-container [title]="'Datos'" [show]="true">
                <div class="px-4">
                    <div class="row mb-4 pb-3 border-bottom-1">
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Sucursal</label>
                                <b>Sucursal 1</b>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Cliente</label>
                                <b>Cliente 1</b>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Tipo De Servicio</label>
                                <b>Normal</b>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Nombre</label>
                                <b>BBVA</b>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 pb-3 border-bottom-1">
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Tiempo</label>
                                <b>04 Días</b>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Observación</label>
                                <b>AVL</b>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex flex-column align-items-center">
                                <label class="mb-0">Estado</label>
                                <b>Habilitado</b>
                            </div>
                        </div>
                    </div>
                </div>
            </acordion-container>
            <!-- <acordion-container [title]="'Detalle 2'" [show]="false">
                <div class="px-3">Hola</div>
            </acordion-container> -->
        </accordion>
    </div>
    <div footer>
        <div class="p-3 text-right">
            <button class="btn btn-secondary mr-3" type="button" (click)="atras()">Cancelar</button>
        </div>
    </div>
</app-body>
