<app-body [titulo]="'Dashboard'" [header]="false">
    <div body>
        <div class="p-4">
            <h5>Bienvenido Administrador</h5>
        </div>
    </div>
</app-body>

<div class="modal fade" #elegirSucursal tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" [ngClass]="{ loader: loading }">
            <loader *ngIf="loading"></loader>
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">
                    Sucursales
                </h5>
            </div>
            <div class="modal-body">
                <div id="sucursales">
                    <div class="sucursal" *ngFor="let sucursal of sucursales" (click)="seleccionarSucursal(sucursal.IdSucursal)">
                        <button class="btn btn-primary btn-circle mb-2">
                            <i class="mdi mdi-home"></i>
                        </button>
                        <span>{{ sucursal.Nombre }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-secondary mr-2" (click)="cerrarModal()">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-primary">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
