<app-body [header]="true" [titulo]="'Clientes'">
    <div header>
        <div class="py-3 text-right">
            <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.IdCliente"
                data-toggle="tooltip"
                data-placement="top"
                [DirectiveTooltip]
                title="Detalle"
                (click)="detalle()"
            >
                <i class="mdi mdi-format-list-bulleted"></i>
            </button>
            <button
                class="btn btn-circle btn-primary mr-2"
                [disabled]="!selectItem.IdCliente"
                data-placement="top"
                data-toggle="tooltip"
                [DirectiveTooltip]
                title="Editar"
                (click)="editar()"
            >
                <i class="mdi mdi-pencil"></i>
            </button>
            <button class="btn btn-outline-primary ml-3" (click)="nuevoProveedor()">
                Nuevo
            </button>
        </div>
    </div>
    <div body>
        <div class="table-responsive">
            <table class="table table-striped table-hover box-shadow">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th style="min-width: 160px;">Nombre</th>
                        <th>Contacto</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th style="min-width: 200px;">Dirección</th>
                        <th>Sucursal</th>
                        <th>Distrito</th>
                        <th>Rubro</th>
                        <th>RUC</th>
                        <th>Pago</th>
                        <th style="min-width: 160px;">Fecha de Asignación</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of data; let index = index"
                        (click)="selectItem = item"
                        [ngClass]="{ highlighted: selectItem.IdCliente === item.IdCliente }"
                    >
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.Nombre }}</td>
                        <td>{{ item.Contacto }}</td>
                        <td>{{ item.Correo || '-' }}</td>
                        <td>{{ item.Telefono || '-' }}</td>
                        <td>{{ item.Direccion }}</td>
                        <td>{{ item.Sucursal }}</td>
                        <td>{{ item.Ubigeo }}</td>
                        <td>{{ item.Rubro || '-' }}</td>
                        <td>{{ item.RUC }}</td>
                        <td>{{ item.TipoPago }}</td>
                        <td>{{ item.FecAsignacion | date: 'dd-MM-yyyy' }}</td>
                        <td>{{ item.Flag_Activo ? 'Activo' : 'Inactivo' }}</td>
                    </tr>
                    <tr class="text-center" *ngIf="!data || (data && data.length === 0)">
                        <td colspan="14">
                            No hay información disponible
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-body>

<div class="modal fade" #detalleCliente tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title">
                    Detalle Cliente
                </h5>
            </div>
            <div class="modal-body">
                <div class="row mb-3 mx-0">
                    <div class="col-md-6">
                        <label>Nombre</label>
                        <input class="form-control" [value]="selectItem.Nombre || '-'" />
                    </div>
                    <div class="col-md-6">
                        <label>Contacto</label>
                        <input class="form-control" [value]="selectItem.Contacto || '-'" />
                    </div>
                </div>
                <div class="row mb-3 mx-0">
                    <div class="col-md-6">
                        <label>Correo</label>
                        <input class="form-control" [value]="selectItem.Correo || '-'" />
                    </div>
                    <div class="col-md-6">
                        <label>Teléfono</label>
                        <input class="form-control" [value]="selectItem.Telefono || '-'" />
                    </div>
                </div>
                <div class="row mb-3 mx-0">
                    <div class="col-md-6">
                        <label>Dirección</label>
                        <input class="form-control" [value]="selectItem.Direccion || '-'" />
                    </div>
                    <div class="col-md-6">
                        <label>Sucursal</label>
                        <input class="form-control" [value]="selectItem.Sucursal || '-'" />
                    </div>
                </div>
                <div class="row mb-3 mx-0">
                    <div class="col-md-6">
                        <label>Ubigeo</label>
                        <input class="form-control" [value]="selectItem.Ubigeo || '-'" />
                    </div>
                    <div class="col-md-6">
                        <label>Rubro</label>
                        <input class="form-control" [value]="selectItem.Rubro || '-'" />
                    </div>
                </div>
                <div class="row mb-3 mx-0">
                    <div class="col-md-6">
                        <label>RUC</label>
                        <input class="form-control" [value]="selectItem.RUC || '-'" />
                    </div>
                    <div class="col-md-6">
                        <label>Tipo de Pago</label>
                        <input class="form-control" [value]="selectItem.TipoPago || '-'" />
                    </div>
                </div>
                <div class="row mb-3 mx-0">
                    <div class="col-md-6">
                        <label>Fecha de Asignación</label>
                        <input class="form-control" [value]="selectItem.FecAsignacion | date: 'dd-MM-yyyy'" />
                    </div>
                    <div class="col-md-6">
                        <label>Estado</label>
                        <input class="form-control" [value]="selectItem.Flag_Activo ? 'Activo' : 'Inactivo'" />
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-secondary mr-2" (click)="cerrarModal()">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-primary">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
