/* You can add global styles to this file, and also import other style files */
.tooltip {
    top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

tr.highlighted td {
    background: #e5e5e5;
    cursor: pointer;
    font-weight: 600;
}

.pointer {
    cursor: pointer;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1.5em;
}

.form-group label {
    margin-bottom: 1em;
}

@media screen and (min-width: 991px) {
    .form-group {
        grid-template-columns: 100px 1fr;
        margin-bottom: 2em !important;
        align-items: center;
    }

    .form-group label {
        margin-bottom: 0em;
    }
}

.border-bottom-1 {
    border-bottom: 1px solid #ccc;
}

.loader {
    position: relative;
    min-height: 300px;
}

.loader::before {
    content: '';
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.required::after {
    content: ' *';
    color: #af0f16;
}
